body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

form > label {
  padding: 10px;
}

#searchBtn {
  width: 200px;
  min-width: 200px;
  min-height: 30px;
  background-color: #CB842E;
}